/* # Woocommerce
---------------------------------------------------------------------------------------------------- */
.woocommerce-page .site-inner #primary{
    padding-top: 4rem;
}
.woocommerce-page .site-inner h2,
.woocommerce-page .site-inner h3,
.woocommerce-page .site-inner h4,
.woocommerce-page .site-inner h5,
.woocommerce-page .site-inner h6{
    font-weight: 500;
}
.woocommerce-page .site-inner p:last-child{
    margin-bottom: 0;
}
.woocommerce-page .woocommerce-products-header{
    text-align: center;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
    border: 2px solid #c9c9c9;
    border-radius: 0;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2{
    float: none;
    margin: 0;
    width: 100%;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message{
    margin-left: 0 !important;
}
.woocommerce-message,
.woocommerce-info{
    border-top-color: #000;
}
.woocommerce-message::before,
.woocommerce-info::before{
    color: #000;
}
@media only screen and (max-width: 650px){

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message{
        padding: 1em 2em 1em 2.5em;
    }

    .woocommerce-error::before,
    .woocommerce-info::before,
    .woocommerce-message::before{
        left: .8em;
    }

    .woocommerce .woocommerce-error .button,
    .woocommerce .woocommerce-info .button,
    .woocommerce .woocommerce-message .button,
    .woocommerce-page .woocommerce-error .button,
    .woocommerce-page .woocommerce-info .button,
    .woocommerce-page .woocommerce-message .button{
        float: none;
        display: table;
        margin-bottom: 1rem;
    }

    .woocommerce form .form-row{
        float: none;
        margin-right: 0;
        width: 100%;
    }
}

/* # Cart Header
---------------------------------------------------------------------------------------------------- */
.cart-contents{
    display: block;
    margin: .5rem 0 0 1rem;
    position: relative;
}
.cart-contents.count-0{
    display: none;
}
.cart-contents i{
    color: #000;
    font-size: 2rem;
}
.cart-contents span{
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1;
    padding: .3rem .7rem .4rem;
    position: absolute;
    right: -.8rem;
    top: -.5rem;
}
@media only screen and (max-width: 990px){

    body.admin-bar .site-header.open .cart-contents{
        top: 4.3rem;
    }

    .site-header.open .cart-contents{
        left: 1.5rem;
        position: fixed;
        top: 1.3rem;
        z-index: 9999;
    }

    .site-header .cart-contents{
        display: block;
    }

    .site-header .cart-contents.count-0{
        display: none;
    }

    .cart-contents i{
        font-size: 2.5rem;
    }

    .cart-contents span{
        font-size: 1.2rem;
        padding: .5rem .8rem .4rem;
    }
}
@media only screen and (max-width: 782px){

    body.admin-bar .site-header.open .cart-contents{
        top: 5.9rem;
    }
}
@media only screen and (max-width: 650px){

    body.admin-bar .site-header.open .cart-contents{
        top: 6.3rem;
    }
}

/* # Woocommerce products list
---------------------------------------------------------------------------------------------------- */
.woocommerce.post-type-archive-product .site-inner,
.woocommerce.tax-product_cat .site-inner{
    max-width: 900px;
}
.woocommerce-products-header__title{
    margin-bottom: 4rem;
}
.woocommerce .term-description{
    margin-bottom: 4rem;
}
.woocommerce .products ul,
.woocommerce ul.products{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
}
.woocommerce ul.products{
    padding-top: 2rem;
}
.woocommerce .products ul::before,
.woocommerce ul.products::before,
.woocommerce .products ul::after,
.woocommerce ul.products::after{
    display: none;
}
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.woocommerce ul.products li.product .price{
    color: #000;
    font-size: 1.8rem;
    margin: 0;
}
.woocommerce ul.products li.product .price ins{
    font-weight: 300;
    text-decoration: none;
}
.woocommerce ul.products li.product .button{
    margin: 0;
}
.woocommerce ul.products li.product .star-rating{
    font-size: 1.5rem;
    margin: .5rem auto;
}
@media only screen and (max-width: 768px){

    .woocommerce .products ul,
    .woocommerce ul.products{
        justify-content: space-between;
    }
}
@media only screen and (max-width: 650px){

    .woocommerce ul.products[class*=columns-] li.product{
        width: 100%;
    }

    .woocommerce .woocommerce-result-count,
    .woocommerce-page .woocommerce-result-count{
        float: none;
        text-align: center;
    }

    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering{
        float: none;
    }
}

/* # Single product
---------------------------------------------------------------------------------------------------- */
body.single-product .site-inner{
    max-width: 900px;
}
.woocommerce div.product form.cart{
    border-bottom: 1px solid #ababab;
    margin-bottom: 2rem;
    padding: 2rem 0;
}
.woocommerce div.product form.cart::after,
.woocommerce div.product form.cart::before{
    display: none;
}
.woocommerce .quantity .qty{
    background-color: #f1f1f1;
    border: medium none;
    font-weight: 700;
    padding: .5rem;
    width: 5rem;
    margin: 0 1rem;
}
.woocommerce .quantity .qtychange{
    background: none;
    border: none;
    color: #000;
    padding: 0;
    font-weight: 700;
}
.woocommerce div.product .product_title{
    margin-bottom: 0;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
}
.woocommerce div.product .woocommerce-product-rating{
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-product-details__short-description{
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #ababab;
    margin-top: 2rem;
    padding: 2rem 0;
}
.woocommerce div.product .woocommerce-product-details__short-description p{
    margin-bottom: 2rem;
}
.woocommerce div.product .woocommerce-product-details__short-description p:last-child{
    margin-bottom: 0;
}
.woocommerce div.product form.cart div.quantity{
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-right: 2rem;
}
.woocommerce div.product.product-type-simple .stock{
    margin: 2rem 0 0;
}
.woocommerce div.product form.cart .button{
    float: none !important;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price{
    color: #333;
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 500;
    margin: 0 1rem 0 0;
    vertical-align: middle;
}
.woocommerce div.product p.cart{
    display: inline-block;
    vertical-align: middle;
}
.woocommerce div.product form.cart.variations_form{
    display: block;
}
.woocommerce .single_variation_wrap > div.woocommerce-variation.single_variation{
    margin: 0 0 1rem 0;
}
.woocommerce .single_variation_wrap > div.woocommerce-variation.single_variation .woocommerce-variation-price span.price{
    font-size: 2.2rem;
}
.woocommerce div.product form.cart .woocommerce-variation-description{
    margin-bottom: 0;
}
.woocommerce div.product form.cart .woocommerce-variation-description p{
    margin-bottom: 1rem;
}
.woocommerce div.product form.cart .woocommerce-variation-description p:last-child{
    margin-bottom: 0;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger{
    position: absolute;
    top: .875em;
    right: .875em;
    display: block;
    height: 2em;
    width: 2em;
    border-radius: 3px;
    z-index: 99;
    text-align: center;
    text-indent: -999px;
    overflow: hidden;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger{
    background-color: #169fda;
    color: #fff;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover{
    background-color: #1781ae;
    border-color: #1781ae;
    color: #fff;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before{
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    content: "\f00e";
    line-height: 2;
    text-indent: 0;
}
.woocommerce table.shop_attributes:last-child{
    margin-bottom: 0;
}
.woocommerce table.shop_attributes th{
    text-align: left;
}
.woocommerce div.product .related > h2,
.woocommerce div.product .up-sells > h2{
    border-bottom: 1px solid #000;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

/* # Woocommerce 3.0 Gallery
---------------------------------------------------------------------------------------------------- */
.woocommerce-product-gallery{
    position: relative;
    margin-bottom: 3em
}
.woocommerce-product-gallery figure{
    margin: 0
}
.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2){
    width: 25%;
    display: inline-block
}
.woocommerce-product-gallery .flex-viewport{
    margin-bottom: 1rem;
}
.woocommerce-product-gallery .flex-control-thumbs li{
    cursor: pointer;
    float: left;
    list-style: none;
    margin: 0 2% 2% 0 !important;
}
.woocommerce-product-gallery .flex-control-thumbs img{
    opacity: .5
}
.woocommerce-product-gallery .flex-control-thumbs img.flex-active,
.woocommerce-product-gallery .flex-control-thumbs img:hover{
    opacity: 1
}
.woocommerce-product-gallery img{
    display: block
}
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li{
    width: 31.9% !important;
}
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n){
    margin-right: 0 !important;
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li{
    width: 23.5% !important;
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n){
    margin-right: 0 !important;
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li{
    width: 18.3% !important;
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n){
    margin-right: 0 !important;
}
.woocommerce-product-gallery__trigger{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99;
}
a.woocommerce-product-gallery__trigger{
    text-decoration: none;
}
.woocommerce-page .select2-container .select2-selection--single{
    height: 1.7em;
}
.woocommerce-page .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 1.6;
    text-align: left;
}

/* # Single product tabs
---------------------------------------------------------------------------------------------------- */
.woocommerce div.product .woocommerce-tabs{
    margin-top: 1rem;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    margin: 0;
    padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{
    border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    background-color: #ebebeb;
    border: none;
    border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child{
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after{
    box-shadow: none;
    border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    background-color: #f7f7f7;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after{
    box-shadow: none;
    border: none;
}
.woocommerce div.product .woocommerce-tabs .panel{
    background-color: #f7f7f7;
    padding: 5rem;
}
.woocommerce div.product .woocommerce-tabs .panel > p:last-child{
    margin-bottom: 0;
}
@media only screen and (max-width: 768px){

    .woocommerce div.product .woocommerce-tabs .panel{
        padding: 2rem;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        font-size: 1.5rem;
    }
}

/* # Single product tab review
---------------------------------------------------------------------------------------------------- */
.woocommerce #reviews input,
.woocommerce #reviews select,
.woocommerce #reviews textarea{
    background-color: #fff;
}
.woocommerce #reviews #respond p.comment-form-author{
    display: inline-block;
    width: calc(49% - .5rem);
    margin-right: 2%;
}
.woocommerce #reviews #respond p.comment-form-email{
    display: inline-block;
    width: 49%;
}
.woocommerce #reviews #respond p.form-submit{
    margin-top: 2rem;
    margin-bottom: 0;
}
.woocommerce #reviews .comment-respond{
    max-width: none;
}
.woocommerce #reviews .comment-respond input[type="email"],
.woocommerce #reviews .comment-respond input[type="text"],
.woocommerce #reviews .comment-respond input[type="url"]{
    width: 100%;
}
.woocommerce #review_form #respond #reply-title{
    font-size: 2.2rem;
    display: block;
    margin-bottom: 2rem;
}
.woocommerce #review_form #respond .comment-form-rating{
    margin: 0 0 1rem;
}
.woocommerce #review_form #respond .comment-form-rating label{
    display: inline-block;
}
.woocommerce #review_form #respond .comment-form-rating p.stars{
    display: inline-block;
    margin: 0;
    vertical-align: sub;
}
.woocommerce #reviews #comments ol.commentlist li{
    list-style: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment_container{
    background-color: #fff;
    border: 1px solid #e4e1e3;
    border-radius: 4px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
    border: 0;
    border-radius: 0;
    margin: 0 0 0 6rem;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
    margin: 1em 0 0 1em;
    width: 4.5rem;
}
@media only screen and (max-width: 650px){

    .woocommerce #reviews #respond p.comment-form-author{
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .woocommerce #reviews #respond p.comment-form-email{
        display: block;
        width: 100%;
    }

    .woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating{
        float: none;
        margin-bottom: 1rem;
    }
}

/* # Woocommerce my account
---------------------------------------------------------------------------------------------------- */
.woocommerce #customer_login{
    display: flex;
    justify-content: space-between;
}
.woocommerce #customer_login::before,
.woocommerce #customer_login::after{
    display: none;
}
.woocommerce #customer_login > div{
    width: 48%;
}
@media only screen and (max-width: 650px){

    .woocommerce #customer_login{
        display: block;
    }

    .woocommerce #customer_login > div{
        width: 100%;
    }
}
.woocommerce-account input,
.woocommerce-account select,
.woocommerce-account textarea{
    background-color: #fff;
}
.woocommerce form.login p:last-child,
.woocommerce form.register p:last-child{
    margin-bottom: 0;
}
.woocommerce form.login,
.woocommerce form.register{
    border: none;
    background-color: #f1f1f1;
    border-radius: 0;
    margin: 4rem auto;
}
.woocommerce form.checkout_coupon{
    border: none;
    background-color: #f1f1f1;
    border-radius: 0;
}
.woocommerce form.checkout_coupon button[type="submit"],
.woocommerce form.login button[type="submit"],
.woocommerce form.register button[type="submit"]{
    margin-right: 1rem;
}
.woocommerce-account .site-inner main.content{
    margin: 0 auto;
    max-width: 90rem;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
    float: none;
    width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul{
    display: flex;
    margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li{
    list-style: none;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a{
    background-color: #ececec;
    color: #666;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 1rem;
    text-decoration: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a{
    background-color: #f5f5f5;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover{
    background-color: #e5e5e5;
}
@media only screen and (max-width: 650px){

    .woocommerce-account .woocommerce-MyAccount-navigation ul li a{
        text-indent: -9999px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 2rem;
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li a::before{
        font-family: 'FontAwesome';
        content: "\f15c";
        float: left;
        text-indent: 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a::before{
        content: "\f291";
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a::before{
        content: "\f019";
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a::before{
        content: "\f015";
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a::before{
        content: "\f09d";
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a::before{
        content: "\f2be";
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a::before{
        content: "\f021";
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--bookings a::before{
        content: "\f073";
    }
}
.woocommerce-account .woocommerce-MyAccount-content{
    background-color: #f5f5f5;
    float: none;
    padding: 5rem;
    width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-content *:last-child{
    margin-bottom: 0;
}
.woocommerce-account .woocommerce-MyAccount-content p .woocommerce-Button{
    margin-top: 2rem;
}
.woocommerce-account .woocommerce-Addresses{
    margin-top: 2rem;
}
.woocommerce-account .col2-set .col-2.woocommerce-Address{
    margin-top: 2rem;
}
.woocommerce-account fieldset legend{
    padding: 0 1rem;
}
.woocommerce-account .woocommerce-customer-details .woocommerce-column--shipping-address{
    margin-top: 3rem;
}
.woocommerce-account table.shop_table{
    border: none;
    font-size: 1.5rem;
}
.woocommerce-account table.shop_table td{
    border: none;
}
.woocommerce-account table.shop_table th,
.woocommerce-account table.shop_table td{
    padding: 1rem 2rem;
}
.woocommerce-account table.shop_table th:last-child,
.woocommerce-account table.shop_table td:last-child{
    text-align: right;
}
.woocommerce-account table.shop_table thead th{
    background-color: #fff;
}
.woocommerce-account table.shop_table tbody tr:nth-child(even){
    background-color: #fafafa;
}
.woocommerce-account table.shop_table tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}
.woocommerce-account table.shop_table .button,
.woocommerce-account .addresses .title .edit{
    background-color: #555 !important;
    color: #fff !important;
    border: none;
    font-size: 1.3rem;
    padding: .8rem 2rem;
    text-decoration: none;
}
.woocommerce-account .addresses .title .edit{
    font-size: 1.5rem;
}
.woocommerce-account table.shop_table .button:hover,
.woocommerce-account .addresses .title .edit:hover,
.woocommerce-account table.shop_table .button:focus,
.woocommerce-account .addresses .title .edit:focus,
.woocommerce-account table.shop_table .button:active,
.woocommerce-account .addresses .title .edit:active{
    background-color: #555 !important;
    color: #fff !important;
    opacity: .8;
}
.woocommerce-account form button[type="submit"]{
    margin-top: 1rem;
}
.woocommerce-account fieldset{
    padding: 3rem;
}
@media only screen and (max-width: 650px){

    .woocommerce-account .woocommerce-MyAccount-content{
        padding: 3rem;
    }

    .woocommerce-account table.shop_table th,
    .woocommerce-account table.shop_table td{
        padding: .5rem 1rem;
    }

    .woocommerce-account .addresses .title h3{
        float: none;
        margin-bottom: .5rem;
    }

    .woocommerce-account .addresses .title .edit{
        float: none;
        display: inline-block;
        margin-bottom: 2rem;
    }

    .woocommerce-account fieldset{
        padding: 1rem 2rem 1.5rem;
    }
}
@media only screen and (max-width: 650px){

    .woocommerce-account .addresses .title h3{
        float: none;
        margin-bottom: .5rem;
    }

    .woocommerce-account .addresses .title .edit{
        float: none;
        display: inline-block;
        margin-bottom: 2rem;
    }
}

/* # Orders - Cart
---------------------------------------------------------------------------------------------------- */
.woocommerce td.product-name .wc-item-meta{
    margin: 0;
}
.woocommerce td.product-name .wc-item-meta > li{
    list-style: none;
}
.woocommerce td.product-name .wc-item-meta p,
.woocommerce td.product-name .wc-item-meta:last-child,
.woocommerce td.product-name dl.variation p,
.woocommerce td.product-name dl.variation:last-child{
    margin-top: 0;
}
.woocommerce td.product-name dl.variation dt{
    font-weight: bolder;
}

/* # Woocommerce cart
---------------------------------------------------------------------------------------------------- */
.woocommerce-cart .site-inner main.content{
    margin: 0 auto;
    max-width: 90rem;
}
.woocommerce-cart table.cart .product-thumbnail > a{
    display: inline-block;
}
.woocommerce-cart table.cart .product-thumbnail > a > img{
    display: block;
}
.woocommerce .woocommerce-cart-form .cart .button{
    background-color: #515151 !important;
    border-color: #515151 !important;
    color: #fff !important;
}
.woocommerce-cart .cart-collaterals .cart_totals table td{
    text-align: right;
}
.woocommerce-cart .cart-collaterals .cross-sells .products{
    padding-top: 0;
}

/* # Coupon code
---------------------------------------------------------------------------------------------------- */
.woocommerce-cart #coupon_code{
    padding: .9rem 1rem .9rem;
    width: auto;
}
@media only screen and (max-width: 650px){

    .woocommerce-cart #coupon_code{
        padding: .9rem 1rem 1rem;
        font-size: 1.5rem;
        width: 52%;
    }

    .woocommerce-cart #coupon_code + .button{
        padding: 1rem .4rem .9rem .4rem;
        width: 45%;
    }
}
@media only screen and (max-width: 375px){

    .woocommerce-cart #coupon_code{
        width: 100%;
    }

    .woocommerce-cart #coupon_code + .button{
        width: 100%;
        margin-top: 1rem;
    }
}

/* # Woocommerce checkout
---------------------------------------------------------------------------------------------------- */
.woocommerce-checkout .site-inner{
    margin: 0 auto;
    max-width: 60rem;
}
.woocommerce-checkout .wc_payment_methods li{
    list-style: none;
}
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address{
    float: none;
    margin-top: 3rem;
}
.woocommerce-checkout #customer_details{
    margin-bottom: 3rem;
}

/* # Woocommerce order received
---------------------------------------------------------------------------------------------------- */
.woocommerce-order-received .col2-set .col-2.woocommerce-column--shipping-address{
    margin-top: 2rem;
}
.woocommerce-order-received ul.order_details li{
    width: 50%;
    margin: 0 0 2rem 0;
}
.woocommerce-order-received ul.order_details li:nth-child(2n){
    padding-left: 2em;
}
.woocommerce-order-received ul.order_details li:nth-child(2n+1){
    clear: left;
}
@media only screen and (max-width: 650px){

    .woocommerce-order-received ul.order_details{
        margin-bottom: 2rem;
    }

    .woocommerce-order-received ul.order_details li{
        float: none;
        width: 100%;
        padding: 0 0 1rem 0;
        border-right: 0;
        border-bottom: 1px dashed #d3ced2;
        margin-bottom: 1.5rem;
    }

    .woocommerce-order-received ul.order_details li:nth-child(2n){
        padding-left: 0;
    }
}

/* # Woocommerce Bookings
---------------------------------------------------------------------------------------------------- */
#wc-bookings-booking-form{
    border: 0;
    padding: 0;
}
.wc-bookings-booking-form fieldset{
    padding: 1.5rem;
}
.wc-bookings-booking-form .wc-bookings-booking-cost{
    margin: 0;
}
.wc-booking-summary .wc-booking-summary-list li{
    list-style-type: none;
}
@media only screen and (max-width: 650px){

    .wc-booking-summary .wc-booking-summary-number span{
        float: none;
        margin: 1rem 0 0;
        display: inline-block;
    }
}
.wc-booking-summary .wc-booking-summary-list li{
    list-style-type: none;
}
@media only screen and (max-width: 650px){

    .wc-booking-summary .wc-booking-summary-number span{
        float: none;
        margin: 1rem 0 0;
        display: inline-block;
    }
}
